.carousel-caption{
    background-color: #e3f2fd8a;
}

html {
    scroll-behavior: smooth;
  }

.nav-registro {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.row .col-8 .p{
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
}

.header{
    width: 100%;
    padding: 1em;
    display:flex;
    justify-content:flex-end;
    align-items: center;
}

.header .ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header .li{
    margin: 0 .5em;
    color: rgb(24, 20, 20);
    padding:2px 7px 2px 7px;
}

.header .li:hover{
    background: #e3f2fd;
    font-size: 1.05em;
    border-radius: 0.5em;
}

.titulo{
  display:flex;
  width: 100%;
  font-family:'Franklin Gothic Medium';
  justify-content: center;
  text-align: center;
  font-size: 2em;
  color: black;
  line-height: 1em;
  padding: 1em;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.contenedor input{
  margin: .5em .5em;
  width: 300px;
  height: 30px;
  border-bottom: 1px solid #333;
}

.contenedor__idpaciente-select{
  margin: .5em .5em;
  width: 300px;
  height: 30px;
  border-bottom: 1px solid #333;
}

.contenedor input:hover{
  border: 2px solid black;
}

.contenedor__boton{
  background-color: #333;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.btn-info:hover, .btn-warning:hover, .btn-danger:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.form__error{
  background-color: #FF9185;
  padding: 10px;
  font-weight: bold;
}

.form__enviado{
  background-color: #A0DEA7;
  padding: 10px;
  font-weight: bold;
}

.contenedor__select:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}

.citas{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family:'Franklin Gothic Medium';
}

.citas__tabla{
  justify-content: center;
  table-layout: auto;
  width: 80%;
  border-collapse: collapse;
  border: 2px solid #333;
  text-align: center;
}

.citas__tabla th{
  padding: .2em;
  background-color: #333;
}

.citas__tabla td{
  padding: .2em;
  color: black;
}

.citas h1{
  padding: 1em;
  text-align: left;
  width: 80%;
  font-size: 1.5em;
  color: black;
  font-weight: bold;
}

.contenedor__rol{
  visibility:hidden;
}

.modificar{
  background-color: #A0DEA7;
  font-weight:bolder;
  text-decoration: underline;
}

.cita{
  display: flex;
  text-align: center;
  font-size: 1.2em;
  align-items: center;
}

.cita label{
  text-align: left;
  margin-right: .5em;
}

.eliminar{
  background-color: #FF9185;
  font-weight:bolder;
  text-decoration: underline;
}

.eliminar__boton{
  background-color: #FF9185;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.eliminar__boton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.contenedor__cita{
  visibility:hidden;
}